@charset "utf-8";

/*자기소개페이지 - content 스타일시트*/

/*스타일시트*/
@import url(common.css);

/*body {
    overflow: hidden;
}*/

/*열린책들 설명페이지*/
/*검색창*/
#content1_origin {
    position: relative;
}
#content2_origin {
    position: relative;
}


.here2 dd img {
    width: 35px;
    margin-left: 13px;
}

.mygitlink {
    margin: 10px;
}

.mygitlink a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    color: #f80;
    font-size: 20px;
}

.mygitlink img {
    width: 40px;
    margin-right: 10px;
}

.mygitlink a h6 {
    font-size: 20px;
    font-weight: 900;
}

/*검색창끝*****************************************************/

/*본문*/
.content_box {
    display: flex;
    width: 100%;
}

.content_box_left {
    width: 60vw;
}

.left_top {
    position: relative;
    background-color: #F80;
    height: 200px;
    margin: 7vw 0;
    padding: 4% 0;
}

.left_top h3,
.left_bottom h3 {
    position: absolute;
    top: -60px;
    right: 15%;
    color: #FF8800;
    font-size: 30px;
    font-weight: 900;
}

.left_top img {
    position: absolute;
    top: -50px;
    width: 80px;
    right: 5%;
}

.left_top p {
    width: 80%;
    margin: 0 0 0 auto;
    line-height: 2.2;
    font-size: 15px;
    word-break: keep-all;
    color: #f0f0f0;
    font-weight: 600;
}

.left_bottom {
    position: relative;
    background-color: white;
    border: 10px solid #f80;
    border-left: 0;
    height: 200px;
    padding: 3% 0;
}

.left_bottom_img {
    position: absolute;
    top: -93px;
    width: 80px;
    right: 5%;
}

.left_bottom_list {
    width: 80%;
    margin: 0 0 0 auto;
    line-height: 2.2;
    font-size: 15px;
    word-break: keep-all;
    color: #707070;
    font-weight: 600;
}

.left_bottom_list img {
    width: 40px;
    vertical-align: -15px;
}

.content_box_right {
    width: 35vw;
    margin-top: 2vw;
    margin-left: 5vw;
}

.content_box_right img {
    width: 18.5vw;
    display: block;
}
.content_box_right.cont2 img {
    width: 25vw;
    display: block;
}

.content_box_right a {
    display: block;
    color: #707070;
    font-weight: 800;
    /*margin-top: 30px;*/
}

/*1의 리뉴얼결과물*/
#content1_result {
    position: relative;
    background: url(../images/content1_bg.jpg) no-repeat center/cover;
}
#content2_result {
    position: relative;
    background: url(../images/content2_bg.jpg) no-repeat center/cover;
}

#content1_result h2, #content2_result h2{
    font-size: 30px;
    text-align: center;
    margin: 2vw;
    color: #FF8800;
    font-weight: 800;
    text-shadow: 0 0 20px #ffe558;
}

#content1_result h2 img {
    width: 60px;
    vertical-align: -20px;
}
#content2_result h2 img {
    width: 60px;
    vertical-align: -20px;
}

.inbox.cont1_main {
    height: auto;
}

.cont1_main {
    display: flex;
    justify-content: space-between;
}

.cont1_main section {
    position: relative;
    width: 32%;
}

.renew_sec1 img,
.renew_sec2 img {
    width: 100%;
}
.renew_sec10 img,
.renew_sec20 img {
    width: 100%;
}

.renew_sec3 img, .renew_sec30 img {
    position: absolute;
    top: 2vw;
    width: 47%;
    transform: scale(1.15);
}

.renew_sec3 img:nth-child(1) {
    left: 10%;
}

.renew_sec3 img:nth-child(2) {
    right: 4%;
}
.renew_sec30 img:nth-child(1) {
    left: 10%;
}

.renew_sec30 img:nth-child(2) {
    right: 4%;
}

.cont1_main section p {
    text-align: right;
}

.renew_sec3 p {
    padding-top: 113.6%;
}
.renew_sec30 p {
    padding-top: 113.6%;
}

/*썸네일에 호버시*/
.renew_hover1 {
    width: 100%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.30);
    top: 0;
    left: 0;
    position: absolute;
}

.renew_hover1 span {
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    width: 250px;
    height: 250px;
    background-color: #f80;
    border-radius: 50%;
    color: #f7ffff;
    text-align: center;
    line-height: 250px;
    font-size: 30px;
    font-weight: 200;
    transform: rotate(-11deg);
}

/*디테일 설명*/
.cont_detail {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/content1_bg.jpg) no-repeat center/cover;
}
.cont_detail.cont2{
    background: url(../images/content2_bg.jpg) no-repeat center/cover;
}


/*바깥을 클릭하면 닫히게 하기*/
.clicktoclose {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: transparent;
}

/*디테일에 떠있는 검색박스*/
.detail_search_box {
    width: 50vw;
    border: 23px solid #f80;
    height: 140px;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.detail_search_box p {
    vertical-align: middle;
    font-size: 35px;
    font-weight: 900;
    line-height: 94px;
    padding-left: 30px;
}

.cdtxt {
    padding: 0 11vw;
    padding-top: 3vw;
}



.cdimg {
    width: 40%;
    float: left;
    position: relative;
    z-index: 3;
}


.cdimg img {
    width: 100%;
}
.imgtop{
    position: relative;
}
.imgbottom{
    position: relative;
}
.dnimg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.cdimg h6 {
    text-align: center;
    color: #707070;
    font-size: 15px;
}

.cdimg h6 img {
    width: 30px;
    margin-right: 10px;
    vertical-align: -5px;
}

/*설명*/
.cdinfo {
    float: right;
    width: 55%;
    margin-left: 5%;
    padding-top: 15vw;

}


.cdiul {
    text-align: right;
    position: relative;
    z-index: 3;
}

.cdiul li {
    line-height: 2.2;
    font-size: 18px;
    color: #454545;
}

#content1_result .cdih2, #content2_result .cdih2 {
    text-align: right;
    position: relative;
    z-index: 3;
}

#content1_result .cdih2 img, #content2_result .cdih2 img {
    width: 50px;
    vertical-align: -15px;
    margin-right: 15px;
}

.cdcolor {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.cdcolor div {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 25px;
}


.cdcolor .color1 {
    background-color: #C5161D;
}

.cdcolor .color2 {
    background-color: #F3F8F2;
}

.cdcolor .color3 {
    background-color: #2E2E2E;
}

.cdcolor .color4 {
    background-color: #000;
}
.cdcolor .color5 {
    background-color: #fff;
}
.cdcolor .color6 {
    background-color: #d2d5ce;
}
.cdcolor .color7 {
    background-color: #c1ccd0;
}
.cdcolor .color8 {
    background-color: #cbc9d4;
}
.cdcolor .color9 {
    background-color: #cbdaf9;
}
.cdcolor .color10 {
    background-color: #AF1724;
}

/*썸네일 클릭시 설명 이동버튼*/
.next_detail {
    position: absolute;
    top: calc(50% - 50px);
    right: 0;
    z-index: 6;
}

.next_detail, .prev_detail{
    width: 100px;
    height: 100px;
}

.prev_detail {
    position: absolute;
    top: calc(50% - 50px);
    left: 0;
    z-index: 6;
}

/*5번은 특이함*/
.cdtxt.cd5{
    display: flex;
}
.left_main{
    width: 100%;
}
.right_main{
    width: 100%;
}

.img_left{
    flex: 1;
    padding-top: 11vw;
    position: relative;
}
.img_left dnimg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.img_left img{
    position: relative;
    z-index: 3;
    width: 99%;
}

.cdinfo.cd5{
    flex: 3;
    margin-left: 0;
    margin-right: 3vw;
}

.img_right{
    flex: 2;
    position: relative;
}
.img_right dnimg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.img_right img{
    position: relative;
    z-index: 3;
}

.cdtxt.cd5 h6 img {
    width: 30px;
    margin-right: 10px;
    vertical-align: -5px;
}

.cdtxt.cd5 h6 {
    text-align: center;
    color: #707070;
    font-size: 15px;
}






















